.Movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 2vw;
}

.movie-title {
    color: #000000;
    text-decoration: none;
}

.movie-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    .movie-img img{
        height: 24rem;
        width: 16rem;
    }
}