.Movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

.movie-img {

}

.movie-title:hover {
    cursor: pointer;
    text-decoration: underline;
    
}