.CreateListArea {
    width: 50vw;
    margin: 2rem auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.AddListForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddListForm input {
    font-size: 1rem;
    margin: 1rem;
    width: 60%;
    padding: 0.75rem;
    border: 0;
    border-bottom: 2px solid #29B9A8;
    border-radius: 2rem;
    outline: none;
}

.AddListForm button {
    background: #5ACEA5;
    font-size: 1rem;
    text-transform: capitalize;
    width: 25%;
    padding: 0.75rem;
    cursor: pointer;
    border: 0;
    border-radius: 3rem;
    outline: none;
    margin-bottom: 1rem;
}

.AddListForm button:hover {
    background: #29B9A8;
}

.DisplayListArea {
    width: 35vw;
    margin: 2rem auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
}

.Lists {
    display: flex;
    flex-direction: column;
}

.ListName {
    font-size: 1.15rem;
    color: black;
}

.ListName:hover {
    background-color: rgb(221, 221, 221)
}

@media only screen and (max-width: 700px) {
    .AddListForm input {
        width: 100%;
    }
    .AddListForm button {
        width: 50%;
    }

    .DisplayListArea {
        width: 70vw;
    }
}